.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    display: flex;
    height: 75px;
}

.nav-items >  ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items > ul >li {
    padding: 19px;
    padding-right: 50px;
}

.res-card{
    margin-top: 5px;
    padding: 5px;
    margin: 9px;
    width: 220px;
    background-color: gray;
}   
.res-card:hover{
    border: 1px solid black; 
    cursor: pointer;
}

.res-continer{
    display: flex;
    flex-wrap:  wrap;
}
.search{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #4a4848;
    border-radius: 4px;
}

.res-logo{
    width: 215px;
    height: 200px;
    margin: 2px;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}